<style>
 
  select {
     -webkit-appearance:none;
     -moz-appearance:none;
     -ms-appearance:none;
     appearance:none;
     outline:0;
     box-shadow:none;
     border:0!important;
     background: #f4c5bf;
     background-image: none;
     flex: 1;
     padding: 0 .5em;
     color:#000000;
     cursor:pointer;
     font-size: 1em;
     font-family: 'Open Sans', sans-serif;
  }
  select::-ms-expand {
     display: none;
  }
  .select {
     position: relative;
     display: flex;
     width: 20em;
     height: 3em;
     line-height: 3;
     background: rgb(224, 88, 88);
     overflow: hidden;
     border-radius: .25em;
  }
  .select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     background: #e15f4b;
     cursor:pointer;
     pointer-events:none;
     transition:.25s all ease;
  }
  .select:hover::after {
     color: rgb(251, 247, 247);;
  }
 </style>

<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex flex-column">
        <label for="filter" style="color: black">Filter by: </label>
        <div class="form-group d-flex align-items-center">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="filterText"
           
            placeholder="Filter by author"
          />
         
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger d-flex justify-content-between">
          <p class="card-category">List of Comments</p>
          <button (click)="filterComments()" style="border: none; background-color: transparent;">
            <i class="fa fa-filter" aria-hidden="true" style="font-size: 24px; color: white;"></i>
        </button>
        
         
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <table class="table table-hover">
              <thead class="text-dark">
                <th>Id</th>
                <th>Content</th>
                <th>Blog</th>
                <th>User</th>
              </thead>
              <tbody>
                <tr *ngFor="let comment of comments">
                  <td><b>#{{ comment.id }}</b></td>
                  <td>{{ comment.content }}</td>
                  <td>{{ comment.blogTitle }}</td>
                  <td>{{ comment.writerName }}</td>
                </tr>
              </tbody>
            </table>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
