
<style>
 
 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #f4c5bf;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#000000;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: rgb(224, 88, 88);
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #e15f4b;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: rgb(251, 247, 247);;
 }
</style>

<div class="main-content">
  <div class="row">

   


    <div class="col-md-4">
      <div class="d-flex flex-column">
        <label for="filter" style="color: black">Filter by: </label>
        <div  class="select" >
          <select
             [(ngModel)]="selectedFilter"
             name="format" id="format"
          >
            <option value="All">All</option>
            <option value="Nonprofit_Organizations">
              Nonprofit Organizations
            </option>
            <option value="Clubs_and_Associations">
              Clubs and Associations
            </option>
            <option value="Community_Groups">Community Groups</option>
            <option value="Educational_Institutions">
              Educational Institutions
            </option>
          </select>

         
         
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger d-flex justify-content-between">
          <p class="card-category">List Of Organizations </p>
          <button (click)="filterOrganizations()" style="border: none; background-color: transparent;">
            <i class="fa fa-filter" aria-hidden="true" style="font-size: 24px; color: white;"></i>
        </button>
        
        
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-dark">
              <th>Id</th>
              <th>Name</th>
              <th>Location</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Website</th>
              <th>Description</th>
              <th>Founding Date</th>
              <th>Archived</th>
            </thead>
            <tbody>
              <tr *ngFor="let org of organizations">
                <td><b>#{{ org.id }}</b></td>
                <td>{{ org.name }}</td>
                <td>{{ org.location }}</td>
                <td>{{ org.phone }}</td>
                <td>{{ org.email }}</td>
                <td>{{ org.website }}</td>
                <td>{{ org.description }}</td>
               <td> {{ org.founding_date | date: 'yyyy-MM-dd' }}</td>
               <span class="badge" style="font-size: 13px" [ngClass]="getStatusBadgeClass(org.archived)" >{{org.archived}}</span>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="clickedAdd">
  <app-add (list)="addOrganization($event)"></app-add>
</div>
<div *ngIf="showUpdate">
  <app-update
    [ctrct]="organizationBinding"
    (list)="addOrganization($event)"
  ></app-update>
</div>
