<style>
 
  select {
     -webkit-appearance:none;
     -moz-appearance:none;
     -ms-appearance:none;
     appearance:none;
     outline:0;
     box-shadow:none;
     border:0!important;
     background: #f4c5bf;
     background-image: none;
     flex: 1;
     padding: 0 .5em;
     color:#000000;
     cursor:pointer;
     font-size: 1em;
     font-family: 'Open Sans', sans-serif;
  }
  select::-ms-expand {
     display: none;
  }
  .select {
     position: relative;
     display: flex;
     width: 20em;
     height: 3em;
     line-height: 3;
     background: rgb(224, 88, 88);
     overflow: hidden;
     border-radius: .25em;
  }
  .select::after {
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 1em;
     background: #e15f4b;
     cursor:pointer;
     pointer-events:none;
     transition:.25s all ease;
  }
  .select:hover::after {
     color: rgb(251, 247, 247);;
  }
 </style>


<div class="main-content">
  <div class="row">
    <div class="col-md-4 mb-4"> 
      <div class="d-flex flex-column">
        <label for="statusSelect" style="color: black;">Select Status:</label>
        <div class="select">
          <select  name="format" id="format" [(ngModel)]="selectedStatus"    (change)="searchItemsByStatus()">
            <option value="Disponible" >Disponible</option>
            <option value="Indisponible">Indisponible</option>
          </select>
        </div>
        <br>
          <label for="category" style="color: black;">Select Category:</label>
          <div class="select">
          <select name="format" id="format"  [(ngModel)]="selectedCategory" (change)="searchItemsByCategory()" >
            <option *ngFor="let category of categoryName" [value]="category">{{ category }}</option>
          </select>
        </div>
       </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger d-flex justify-content-between">
          <p class="card-category">List Of Objects
<br>
            <button (click)="toggleTableVisibility()" style="border: none; background-color: transparent;" >
              <i class="fa fa-location-arrow" aria-hidden="true"></i>  &nbsp; <i style="font-size: 15px; color: rgb(0, 0, 0);">Click here to see all categories</i></button>
          </p>
         
        
          <button class="btn btn-danger"  (click)="refreshPage()" style="border: none; background-color: transparent;">
            <i class="fa fa-refresh" aria-hidden="true" style="font-size: 20px; color: white;"></i>
          </button>
       
      </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <table class="table table-hover">
              <thead class="text-dark">
                <th>Id</th>
                <th>Owner</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category </th> 
                
               
              </thead>
              <tbody>
                <tr *ngFor="let item of objects">
                  <td><b>#{{ item.id }}</b></td>
                  <td>{{ item.OwnerUsername }}</td>
                  <td>{{ item.amount }}</td>
              
                  <span class="badge" style="font-size: 13px" [ngClass]="getStatusBadgeClass(item.status)" >{{ item.status }}</span>
                  <td>{{ item.name }}</td>
                  <td>{{ item.description }}</td>
                  <td>{{ item.CategoryName }}</td>
                
                </tr>
              </tbody>
            </table>
            
          </table>

        
        </div>
      </div>
     

<br><br>
      <div class="card"  *ngIf="isTableVisible" >
        <div class="card-header card-header-danger" >
          <p class="card-category">List Of Categories</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-dark">
              <th>Id</th>
              <th>Name</th>
              <th>Items</th>
            </thead>
            <tbody>
              <tr *ngFor="let cat of uniqueCategoriesList">
                <td>#{{ cat.id }}</td>
                <td>{{ cat.name }}</td>
                <td>
                  <ul>
                    <li *ngFor="let item of cat.items">{{ item }}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>

